hr,img,legend { border: 0 }
legend,td,th { padding: 0 }
pre,textarea { overflow: auto }
#content[tabindex="-1"]:focus,a:active,a:hover { outline: 0 }
[hidden],template { display: none }
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary { display: block }
audio,canvas,progress,video { display: inline-block;vertical-align: baseline }
abbr[title] {
  border-bottom: 1px dotted
}

b,optgroup,strong {
  font-weight: 700
}

cite,dfn,em,i {
  font-style: italic
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  height: auto
}

svg:not(:root) {
  overflow: hidden
}

hr {
  box-sizing: content-box;
  background-color: #ccc;
  height: 1px;
  margin-bottom: 1.5em
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,select {
  text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input[type=checkbox],input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

textarea {
  width: 100%
}


blockquote {
  margin: 0 1.5em
}

address {
  margin: 0 0 1.5em
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch",Courier,monospace;
  font-size: 15px;
  font-size: .9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em
}

code,kbd,tt,var {
  font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
  font-size: 15px;
  font-size: .9375rem
}

abbr,acronym {
  border-bottom: 1px dotted #666;
  cursor: help
}

ins,mark {
  background: #fff9c0;
  text-decoration: none
}

big {
  font-size: 125%
}

*,:after,:before {
  box-sizing: inherit
}

blockquote:after,blockquote:before,q:after,q:before {
  content: ""
}

blockquote,q {
  quotes: "" ""
}

ol,ul {
  margin: 0 0 1.5em 3em
}

ul {
  list-style: disc
}

ol {
  list-style: decimal
}

li>ol,li>ul {
  margin-bottom: 0;
  margin-left: 1.5em
}

dt {
  font-weight: 700
}

dd {
  margin: 0 1.5em 1.5em
}

figure {
  margin: 1em 0
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5em;
  width: 100%
}

button,input[type=button],input[type=reset],input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 15px 17px rgba(255,255,255,.5),inset 0 -5px 12px rgba(0,0,0,.05);
  color: rgba(0,0,0,.8);
  font-size: 12px;
  font-size: .75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.8)
}

button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8),inset 0 15px 17px rgba(255,255,255,.8),inset 0 -5px 12px rgba(0,0,0,.02)
}

button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,.5),inset 0 2px 5px rgba(0,0,0,.15)
}

input[type=text],input[type=email],input[type=url],input[type=password],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],input[type=number],input[type=search],textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px
}

select {
  border: 1px solid #ccc
}

input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=range]:focus,input[type=date]:focus,input[type=month]:focus,input[type=week]:focus,input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=color]:focus,input[type=number]:focus,input[type=search]:focus,textarea:focus {
  color: #111
}
