@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,400i,700|Oswald:400,700');

/* Global styles */
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  margin: 0;
  padding: 2em;
  background:#fff;
}

body,button,input,select,textarea {
  color: #404040;
  font-size: 1rem;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  clear: both;
  font-family: Oswald, sans-serif;
}

h2, h3, h4 {
  margin: 0;
}

p {
  display: block;
  padding: 0;
  margin: .5em 0 1em 0;
}

a {
  background-color: transparent;
  color: #343434;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a:active,a:focus,a:hover {
  color: #4e4e4e
}

a:focus {
  outline: dotted thin;
}

h1 {
  font-size: 3em;
  margin: .5em 0
}


/* Structural */
.site-footer {
  padding-top: 4em;
}

@media screen and (max-width: 879px) {
  .site-logo {
    display:none;
  }
  .post-content img {
    width: 100%;
  }
}

@media screen and (min-width: 880px) {
  .site-header {
    width:20%;
    float: left;
  }

  .site-title {
    padding-top: .8em
  }

  .site-wrapper {
    max-width: 1240px;
    margin: auto
  }

  .site-content {
    width: 80%;
    float: left;
  }

  .content-area {
    padding: 0 0 0 3em;
  }

  .site-footer {
    clear: both;
    margin-left: 20%;
    padding-left: 3em;
  }
}

/* Site Branding */
.site-logo {
  text-align: center;
}

.logo {
  border-radius: 100%;
  max-width: 200px;
  width: 100%
}

.site-title {
  font-size: 2rem;
  font-family: Oswald, sans-serif;
}

.site-title a {
  text-decoration: underline
}

.site-description {
  padding: 0;
  margin: .2em 0 1em;
  font-size: 1em;
}

/* Navigation Styles */
.navigation-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navigation-menu .menu-item {
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid fade(#111,10);
  font-size: .8em;
  font-weight: bold;
}

.navigation-menu .menu-item:last-child {
  border-bottom: 0
}

.navigation-menu .menu-item a {
  padding: .5em 0;
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Content Styles */
.posts-list-item  {
  padding-top: 1em
}

.share-container {
  padding-top: 1em;
}

.disqus-container {
  padding-top: 2em;
}
